.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 5px;
    height: 100%;
    width: 100%;
}
input[type='color'] {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    input[type='color'] {
        height: 7vw;
        width: 7vw;
    }
}